<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958623291544-m7tidoa7av50soa2nm2nq439dr2tsu4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958623291544-m7tidoa7av50soa2nm2nq439dr2tsu4b</string>
	<key>API_KEY</key>
	<string>AIzaSyDg6eWKPj3h8JbCHk5KD7Ttp6K8JHDeiP0</string>
	<key>GCM_SENDER_ID</key>
	<string>958623291544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jose-Luis-Corral-Lopez.SpendR</string>
	<key>PROJECT_ID</key>
	<string>spendr-8cd3f</string>
	<key>STORAGE_BUCKET</key>
	<string>spendr-8cd3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958623291544:ios:723c8258318672a9a098ed</string>
</dict>
</plist>